# JupyterNotebooks
app/test_notebook.ipynb
instructions/.ipynb_checkpoints/
app/.ipynb_checkpoints/

# Environments
venv/
venv2/

# IDE
.idea/


# ML model exports
instructions/disaster_response_model.sav
models/classifier.pkl
models/classifier_backup.pkl

