# JupyterNotebooks
instructions/.ipynb_checkpoints/ML Pipeline Preparation-checkpoint.ipynb
instructions/.ipynb_checkpoints/ETL Pipeline Preparation-checkpoint.ipynb

# Environments
venv/

# IDE
.idea/